<a href="https://colab.research.google.com/github/Akashpatidar2254/Training-Placement-Department/blob/main/TNP_30_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q:1 Reverse an Array

In [ ]:
arr=[1,2,3,4,5]
print(f"initial array:{arr}")
size=len(arr)
i=0
j=size-1
while i<=j:
    temp=arr[i]
    arr[i]=arr[j]
    arr[j]=temp
    i+=1
    j-=1
print(f"reverse array:{arr}")

initial array:[1, 2, 3, 4, 5]
reverse array:[5, 4, 3, 2, 1]

2. Find the Maximum & Minimum Element

In [ ]:
arr=[4,1,3,4,5]
print(arr)
min_value = float('inf')
max_value = float('-inf')
for num in arr:
    if num>max_value:
        max_value=num
    if num<min_value:
        min_value=num
print(f"Maximum value :{max_value}\n Minimum value :{min_value} ")

[4, 1, 3, 4, 5]
Maximum value :5
 Minimum value :1

3. Find the Sum of Elements

In [ ]:
arr=[4,1,3,4,5]
print(arr)
sum=0
for num in arr:
    sum+=num
print(f"sum is :{sum}")

[4, 1, 3, 4, 5]
sum is :17

   4.Find the Second Largest Element

In [ ]:
arr = [4,1,8,2,5]

large = float('-inf')
s_large = float('-inf')

for num in arr:
    if num > large:
        s_large = large
        large = num
    elif num > s_large and num != large:
        s_large = num

if s_large == float('-inf'):
    print("No second largest element")
else:
    print(f"Second largest is: {s_large}")

Second largest is: 5

5. Count Frequency of Elements

In [ ]:
arr = [4, 1, 8, 2, 5, 4, 1, 4]

freq = {}

for num in arr:
    if num in freq:
        freq[num] += 1
    else:
        freq[num] = 1

print(freq)

6. Check if Array is Sorted

In [ ]:
arr = [3,4,5,6,7,8]
print(arr)
is_sorted=True
for i in range(0,len(arr)-1):
    if arr[i]>arr[i+1]:
        is_sorted=False
        break
if is_sorted:
    print("sorted")
else:
    print("not sorted")

[3, 4, 5, 6, 7, 8]
sorted

7. Rotate Array by k Positions: Rotate the array to the right by k positions.

In [ ]:

nums = [1, 2, 3, 4, 5, 6, 7]
print(f"before:{nums}")
k = 3 # number of times need to rotate

n = len(nums)

temp = [0] * n #like make a n size  vector with value 0

k = k % n   # so that line 7 will not give run time error in case of k > n
new_start = n - k

i = 0

for j in range(new_start, n):
    temp[i] = nums[j]
    i += 1

for j in range(0, new_start):
    temp[i] = nums[j]
    i += 1

nums.clear()
nums.extend(temp)
print(f"after:{nums}")

before:[1, 2, 3, 4, 5, 6, 7]
after:[5, 6, 7, 1, 2, 3, 4]

8. Find Pair with Given Sum: Find a pair of elements that adds up to a target sum.

In [ ]:
arr = [3,4,5,6,7,8]
print(arr)
indx1=0
indx2=0
total_sum=-1
for i in range(0,len(arr)-1):
    for j in range(i+1,len(arr)):
        if arr[i]+arr[j] >total_sum:
            total_sum=arr[i]+arr[j]
            indx1=i
            indx2=j
print(f"sum is :{total_sum}\nindexes:{i} and {j}")

[3, 4, 5, 6, 7, 8]
sum is :15
indexes:4 and 5

9. Remove Duplicates from Array: Remove duplicates from the array while maintaining order.

In [ ]:
arr = [1, 2, 2, 3, 4, 4, 5]
print(f"Original array: {arr}")

seen = set()
result = []

for item in arr:
    if item not in seen:
        result.append(item)
        seen.add(item)

print(f"Array after removing duplicates: {result}")

Original array: [1, 2, 2, 3, 4, 4, 5]
Array after removing duplicates: [1, 2, 3, 4, 5]

10. Merge Two Sorted Arrays

In [ ]:
arr1 = [1, 3, 5, 7]
arr2 = [2, 4, 6, 8,10]
print(f"Array 1: {arr1}")
print(f"Array 2: {arr2}")

merged_array = []
ptr1 = 0
ptr2 = 0

while ptr1 < len(arr1) and ptr2 < len(arr2):
    if arr1[ptr1] < arr2[ptr2]:
        merged_array.append(arr1[ptr1])
        ptr1 += 1
    else:
        merged_array.append(arr2[ptr2])
        ptr2 += 1

while ptr1 < len(arr1):
    merged_array.append(arr1[ptr1])
    ptr1 += 1

while ptr2 < len(arr2):
    merged_array.append(arr2[ptr2])
    ptr2 += 1

print(f"Merged Array: {merged_array}")

Array 1: [1, 3, 5, 7]
Array 2: [2, 4, 6, 8, 10]
Merged Array: [1, 2, 3, 4, 5, 6, 7, 8, 10]

11. Remove given Element from Array

In [ ]:
arr = [1, 2, 3, 4, 2, 5]
element_to_remove = 2
print(f"Original array: {arr}")
print(f"Element to remove: {element_to_remove}")
new_arr = []

for item in arr:
    if item != element_to_remove:
        new_arr.append(item)

arr = new_arr

print(f"Array after removing {element_to_remove}: {arr}")

Original array: [1, 2, 3, 4, 2, 5]
Element to remove: 2
Array after removing 2: [1, 3, 4, 5]

12. Find the Missing Number: Find the missing number in an array of size n containing numbers from 1 to n.

In [ ]:
arr = [1, 2, 4, 5, 6]
n = len(arr) + 1

expected_sum = n * (n + 1) // 2
actual_sum = sum(arr)

missing_number = expected_sum - actual_sum

print(f"Original array: {arr}")
print(f"The missing number is: {missing_number}")

Original array: [1, 2, 4, 5, 6]
The missing number is: 3

13. Find Duplicates in an Array

In [ ]:
arr = [1, 2, 3, 4, 2, 5, 3, 6]
print(f"Original array: {arr}")

seen = set()
duplicates = []

for item in arr:
    if item in seen:
        if item not in duplicates:
            duplicates.append(item)
    else:
        seen.add(item)

if duplicates:
    print(f"Duplicate elements: {duplicates}")
else:
    print("No duplicate elements found.")

Original array: [1, 2, 3, 4, 2, 5, 3, 6]
Duplicate elements: [2, 3]

14. Find Intersection of Two Arrays: Find the common elements between two arrays.

In [ ]:
arr1 = [1, 2, 3, 4, 5]
arr2 = [4, 5, 6, 7, 8]
print(f"Array 1: {arr1}")
print(f"Array 2: {arr2}")

set1 = set(arr1)
set2 = set(arr2)
intersection = list(set1.intersection(set2))

print(f"Intersection of the two arrays: {intersection}")

Array 1: [1, 2, 3, 4, 5]
Array 2: [4, 5, 6, 7, 8]
Intersection of the two arrays: [4, 5]

15. Find Union of Two Arrays

In [ ]:
arr1 = [1, 2, 3, 4, 5]
arr2 = [4, 5, 6, 7, 8]
print(f"Array 1: {arr1}")
print(f"Array 2: {arr2}")

set1 = set(arr1)
set2 = set(arr2)
union = list(set1.union(set2))

print(f"union of the two arrays: {union}")

Array 1: [1, 2, 3, 4, 5]
Array 2: [4, 5, 6, 7, 8]
union of the two arrays: [1, 2, 3, 4, 5, 6, 7, 8]

16. Check if Two Arrays Are Equal: if two arrays contain the same elements

In [ ]:
arr1 = [1, 2, 3, 4, 5]
arr2 = [5, 4, 3, 2, 1]

print(f"Array 1: {arr1}")
print(f"Array 2: {arr2}")

if sorted(arr1) == sorted(arr2):
    print("The arrays contain the same elements .")
else:
    print("The arrays do NOT contain the same elements .")

Array 1: [1, 2, 3, 4, 5]
Array 2: [5, 4, 3, 2, 1]
The arrays contain the same elements .

17. Find the Leader Elements: An element is a leader if it is greater than all elements to its right.

In [ ]:
arr = [16, 17, 4, 3, 5, 2]
print(f"Original array: {arr}")

leaders = []
max_right = -1

for i in range(len(arr) - 1, 0, -1):
    if arr[i] >= max_right:
        leaders.append(arr[i])
        max_right = arr[i]

leaders.reverse()
print(f"Leader elements: {leaders}")

Original array: [16, 17, 4, 3, 5, 2]
Leader elements: [17, 5, 2]

18. Move Zeroes to End: Move all

*   List item
*   List item

zeroes in an array to the end while maintaining the order of non-zero elements.

In [8]:
arr = [1, 3, 0, 5, 0, 7,8,0]
print(f"initial state of array: {arr}")

left = 0
for right in range(len(arr)):
    if arr[right] != 0:
        arr[left], arr[right] = arr[right], arr[left]
        left += 1

print(f"state after (in-place): {arr}")

initial state of array: [1, 3, 0, 5, 0, 7, 8, 0]
state after (in-place): [1, 3, 5, 7, 8, 0, 0, 0]

19. Find Subarray with Given Sum.

In [5]:
arr=[1,2,3,7,5]
target_sum=12
print(f"array ={arr} and target_sum={target_sum}")
is_present=False
for i in range(len(arr)):
  for j in range(len(arr)):
    if sum(arr[i:j+1])==target_sum:
      is_present=True
      print(f"subarray is {arr[i:j+1]}")
      break
  if is_present:
    break
if not is_present:
  print("no subarray found")

array =[1, 2, 3, 7, 5] and target_sum=12
subarray is [2, 3, 7]

20. Rotate Array to the Left by k Positions

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(f"before:{nums}")
k = 3
n = len(nums)
temp = [0] * n
k = k % n

i = 0

for j in range(k, n):
    temp[i] = nums[j]
    i += 1

for j in range(0, k):
    temp[i] = nums[j]
    i += 1

nums.clear()
nums.extend(temp)
print(f"after:{nums}")

before:[1, 2, 3, 4, 5, 6, 7]
after:[4, 5, 6, 7, 1, 2, 3]

21. Find the Kth Smallest Element

In [ ]:
nums = [1, 2, 11, 4, 5, 6, 7]
print(nums)
k=3
nums.sort()
if k>=0 and k<len(nums):
   print(f"{k}th smallest element is :{nums[k-1]}")

[1, 2, 11, 4, 5, 6, 7]
3th smallest element is :4

22. Find All Subarrays

In [ ]:
arr = [1, 2, 3]
print(f"Original array: {arr}")

subarrays = []
n = len(arr)

for i in range(n):
    for j in range(i, n):
        subarrays.append(arr[i : j + 1])

print(f"All subarrays: {subarrays}")

Original array: [1, 2, 3]
All subarrays: [[1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

23. Maximum Sum Subarray (Kadane's Algorithm)

In [ ]:
arr = [-2, 1, -3, 4, -1, 2, 1, -5, 4]
print(f"Original array: {arr}")

max_so_far = arr[0]
current_max = arr[0]

for i in range(1, len(arr)):
    current_max = max(arr[i], current_max + arr[i])
    max_so_far = max(max_so_far, current_max)

print(f"Maximum sum subarray: {max_so_far}")

Original array: [-2, 1, -3, 4, -1, 2, 1, -5, 4]
Maximum sum subarray (Kadane's Algorithm): 6

24. Rearrange Array Alternately: Rearrange an array such that elements alternate between the largest and smallest.

In [ ]:
arr = [1, 2, 3, 4, 5, 6, 7]
print(f"Original array: {arr}")

arr.sort()
result=[]
i=0
j=len(arr)-1
while i<=j:
  if i==j:
    result.append(arr[i])
    break
  else:
    result.append(arr[j])
    result.append(arr[i])
    i+=1
    j-=1
print(result)

Original array: [1, 2, 3, 4, 5, 6, 7]
[7, 1, 6, 2, 5, 3, 4]

25. Find Majority Element: Find the element that appears more than n/2 times.

In [1]:
arr = [2, 3, 1, 2, 3, 2, 2]
count = 0
candidate = 0

for x in arr:
    if count == 0:
        candidate = x
    if x == candidate:
        count += 1
    else:
        count -= 1
print(candidate)

2

26. Find Peak Element: A peak element is greater than its neighbors. Find one such element.

In [ ]:
arr=[8,3,9,6,7,2,4]
print(f"Original array: {arr}")
prev=arr[0]
result=[]
for i in range(1,len(arr)-1):
  nxt=arr[i+1]
  if prev<arr[i] and arr[i]>nxt:
    result.append(arr[i])
  prev=arr[i]
print(f"Peak elements: {result}")

2

28. Sort an Array of 0s, 1s, and 2s: Sort an array consisting of only 0s, 1s, and 2s.

In [ ]:
arr = [0, 1, 2, 0, 1, 2, 0]
print(f"original array: {arr}")

l = 0
m = 0
h = len(arr) - 1

while m <= h:
    if arr[m] == 0:
        arr[l], arr[m] = arr[m], arr[l]
        l += 1
        m += 1
    elif arr[m] == 1:
        m += 1
    else:
        arr[m], arr[h] = arr[h], arr[m]
        h -= 1
print(f"sorted array: {arr}")

Original array: [0, 1, 2, 0, 1, 2, 0]
Sorted array: [0, 0, 0, 1, 1, 2, 2]

29. Find the Longest Consecutive Sequence: Find the length of the longest consecutive sequence of integers.

In [ ]:
arr = [100, 4, 200, 1, 3, 2]
print(f"Original array: {arr}")

if not arr:
    longest_streak = 0
else:
    num_set = set(arr)
    longest_streak = 0

    for num in arr:
        if (num - 1) not in num_set:
            current_num = num
            current_streak = 1


            while (current_num + 1) in num_set:
                current_num += 1
                current_streak += 1

            longest_streak = max(longest_streak, current_streak)

print(f"Length of the longest consecutive sequence: {longest_streak}")

Original array: [100, 4, 200, 1, 3, 2]
Length of the longest consecutive sequence: 4

30. Product of Array Except Self
    Given an array, return a new array where each element is the product of all elements except itself.
    Do not use division.

    Input: [1,2,3,4]
    Output: [24,12,8,6]

In [10]:
arr=[1,2,3,4]
print(f"Original array: {arr}")
product=1
result=[]
for i in range(len(arr)):
  for j in range(len(arr)):
    if i!=j:
      product*=arr[j]
  result.append(product)
  product=1
print(f"result array: {result}")

Original array: [1, 2, 3, 4]
result array: [24, 12, 8, 6]

31. Find Equilibrium Index: Find an index such that sum of     elements on left = sum on right.

In [14]:
arr = [1, 2, 3, 4, 0, 6]
print(f"Original array: {arr}")

total_sum = sum(arr)
left_sum = 0
equi_index = -1

for i in range(len(arr)):
    right_sum = total_sum - left_sum - arr[i]
    if left_sum == right_sum:
        equi_index = i
        break
    left_sum += arr[i]

if equi_index != -1:
    print(f"Equilibrium index is: {equi_index}")
else:
    print("No equilibrium index found.")

Original array: [1, 2, 3, 4, 0, 6]
Equilibrium index is: 3

32. Find Maximum Product Pair: Find  two elements whose product is maximum.